# Python
__pycache__/
*.pyc

# Notebooks
.ipynb_checkpoints/

# Artifacts
outputs/
processed/
*.pt
*.npy
*.npz
*.csv
*.png

# Raw data
*.edf
*.EDF
__pycache__/
*.pyc
.ipynb_checkpoints/
outputs/
processed/
dataverse_files/
*.edf
*.EDF
*.rdp
*.pt
*.npy
*.npz
*.csv
*.png
